<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

</head>

<body>
    <nav>
        <ul>

            <li><a href="{% url 'admin:index' %}">admin:index</a></li>
            {% if not user.is_authenticated %}
            <li><a href="{% url 'users:register' %}">users:register</a></li>
            <li><a href="{% url 'users:login' %}">users:login</a></li>
            <li><a href="{% url 'advance_home_page' %}">return to home page.</a></li>
            {% endif %}
            {% if user.is_authenticated %}
            <li><a href="{% url 'users:edit_user_profile' %}">users:edit user profile</a></li>
            <li><a href="{% url 'logout' %}">logout</a></li>
            <li><a href="{% url 'users:user_home_page' %}">return to user home page.</a></li>
            {% endif %}


        </ul>
    </nav>
    <div>
        {% block body_block %}
        {% endblock %}
    </div>
</body>