{% extends "users/home_page.html" %}

{% block body_block %}


<h1>Login here</h1>
<div>
    <p1>User Login</p1>
    <form action="{% url 'users:login' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class='username_password'>
            <label for='username'> Please enter your username</label>
            <input type="text" name="username">
            <label for='password'> Please enter your password</label>
            <input type="password" name="password">
        </div>
        <input type="submit" name="login" value="login">
    </form>
</div>
{% endblock %}