body{
    background:radial-gradient(circle at center,rgba(190, 188, 188, 0.644),aliceblue);
    background-size: cover;
    margin:0;
    padding-top: 65px; 
    text-align:center;
    min-width: 1500px;
}


div  .navbar {
    padding-top: 0rem;
    margin-bottom: 0px;
    width: 30%;
  }

  ul{
    list-style: none;
}

li.nav-item:hover{
    background-color:darkgrey;
}

.Welcome  {
    color: black;
    font-size: 3em;
    text-align: center;
}

.wrapper{
    margin: 80px;
}

.login-form{
    margin-bottom: 10px;
    text-align: center;
    
    
}

.form-control{
    margin-bottom: 5px;
    width: 60%;
    text-align: left;
    margin-left: 25%;
    width: 50%;
}

.login-buttons{
    text-align: center;
}

.goBack a{
    color: white;
    text-decoration: none;
}

.wrapper-reg{
    margin: 20px;
    background-color:rgb(198, 214, 219);
}

div.wrapper{
    width: 50%;
    height: 50%;
    background-color:rgb(198, 214, 219);
    border-radius: 25px;
    padding: 10px;
    margin: 5em auto;
}


/* Post css */

div #post-area {

    display: inline-block;
    vertical-align:middle;
   

}

div #post-options{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width:505px;
    text-align: left;
    
    

}

.addpost-header{
    color: rgb(255, 0, 76);
    font-size: 40pt;
    text-decoration: none;
    
}
.addpost-header:hover{
    color: red;
}

#table{
    margin-left: auto;
    margin-right: auto;
    background-color: aqua;
}
#post-wrapper{
    width: 800px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto  ;
    background-color: rgba(69, 69, 71, 0.336) ;
    padding: 10px;
    padding-bottom: 25px;
    margin: 3em auto;
}

.pub-info p:first-child{
    margin-bottom: -5px;
    margin-top: -5px;
}

.pub-info p{
    font-style:italic;
}


.return{
    text-decoration: none;
    float: left;
    color: red;
}

a.navbar-brand{
    font-weight:bold;
}
