body{
    background:radial-gradient(circle at center,rgba(190, 188, 188, 0.644),rgb(255, 250, 240));
    background-size: cover;
    margin:0;
    padding-top: 65px; 
    text-align:center;
    min-width: 1500px;
}

.pic{
    background-image: url("login_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    width: 100%;
}

div  .navbar {
    padding-top: 0rem;
    margin-bottom: 0px;
    width: 30%;
  }

  ul{
    list-style: none;
}

li.nav-item:hover{
    background-color:rgb(0, 0, 0);
}

li.nav-item-spec:hover{
    background-color:red;
}

.Welcome  {
    color: rgb(0, 0, 0);
    font-size: 3em;
    text-align: center;
}



.login-form{
    margin-bottom: 10px;
    text-align: center;
    
    
}

.form-control{
    margin-bottom: 5px;
    width: 60%;
    text-align: left;
    margin-left: 25%;
    width: 50%;
}

.login-buttons{
    text-align: center;
}

.goBack a{
    color: white;
    text-decoration: none;
}

.wrapper-reg{
    margin: 20px;
    background-color:rgba(207, 224, 232, 0.76);
    text-align: left;
}

#form-register{
    color: rgb(233, 156, 156);
}

.wrapper{
    
    width: 50%;
    height: 50%;
    background-color:rgb(171, 169, 169,1);
    border-radius: 25px;
    padding: 10px;
    margin: 5em auto;
    opacity: 0.95;
    
    
}


/* Post css */

div #post-area {

    display: inline-block;
    vertical-align:middle;
   

}

div #post-options{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width:505px;
    text-align: left;
    
    

}

.addpost-header{
    color: rgb(255, 0, 76);
    font-size: 40pt;
    text-decoration: none;
    
}
.addpost-header:hover{
    color: red;
}

#table{
    margin-left: auto;
    margin-right: auto;
    background-color: aqua;
}
#post-wrapper{
    width: 800px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto  ;
    background-color: rgba(69, 69, 71, 0.336) ;
    padding: 10px;
    padding-bottom: 25px;
    margin: 3em auto;
}

.pub-info p:first-child{
    margin-bottom: -5px;
    margin-top: -5px;
}

.pub-info p{
    font-style:italic;
}


.return{
    text-decoration: none;
    float: left;
    color: red;
}

a.navbar-brand{
    font-weight:bold;
}

a.nav-link{
    color: white;
}

a.nav-link:hover{
    color: white;
}