body{
    background-color: springgreen;
    font-size: small;
    text-align: center;
    margin-left: 40px;
    color: rgb(98, 85, 218);
}

p{
    font-size: 1.5em;
}

input{
    font-size: 1.2em;
}

div{
    font-size: 20px;
    text-align: center;
}