<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">       
        <title>make_post</title>
        <link rel="stylesheet"  href="make_post.css">
    </head>
    
    <body>

        

        <p>   
            <form method="GET">    
            <div>
                <p>Create your post</p>
                
            </div>
            
            
            <textarea name="" id="post_content" cols="30" rows="10"></textarea>
            <br>
            <input type="File" accept=".jpg">
            <input type="submit" id="submit_post"> 
            
            </form> 

        </p>    
    </body>
</html>
