{% extends "users/home_page.html" %}
<li><a href="{% url 'users:edit_user_profile' %}">users:edit user profile</a></li>
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<h1>Edit your profile</h1>
<div>
    
    <br>
    <form method='post' enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container" id="post-wrapper" " >
            <div class="form-control-lg col-md-10 mb-0" style="display: contents;">
                {{profile_form.displayName| as_crispy_field }}
            </div>
            <br>
            <div class="form-control-lg col-md-10 mb-0" style="display: contents;">
                {{profile_form.github| as_crispy_field }}
             </div>
            <br>
            <div class="form-control-lg col-md-10 mb-0" style="display: contents;">
                {{profile_form.bio| as_crispy_field }}
            </div>
            <br>
            <div class="form-control-lg col-md-10 mb-0" style="display: contents;">
                {{profile_form.profileImage | as_crispy_field }}
            </div>
        </div>
        
        <input type="submit" class= "btn btn-secondary btn-lg" name="submit" value="finish edit">
       
    </form>
    <br><br>
    <a class = "btn btn-lg btn-primary btn-block"  href="{% url 'feed' %}" style="float: left;"> Go Back</a>
</div>
{% endblock content %}