{% extends "users/home_page.html" %}
<li><a href="{% url 'users:edit_user_profile' %}">users:edit user profile</a></li>
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<h1>Edit user profile</h1>
<div>
    
    <h2>Register form</h2>
    <form method='post' enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row justify-content-center" id="post-wrapper">
            <table border="1" class="table table-striped table-bordered table-hover">
                {{profile_form.as_table}}
            </table>
        </div>
        
        <input type="submit" class= "btn btn-secondary btn-lg" name="submit" value="finish edit">
       
    </form>
<a class='return' href="{% url 'users:user_home_page' %}"><i class="fa fa-arrow-left"></i> Go Back</a>
</div>
{% endblock content %}