{% extends "users/home_page.html" %}

{% block content %}

<div class = 'wrapper'>
    <form action="{% url 'users:login' %}" method="post" enctype="multipart/form-data" class='form-signin'>
        {% csrf_token %}
        <h1 class = 'Welcome'>Social Circle</h1>
        
                <label for='username' class='login-form'> Please enter your username</label>
                <input type="text" name="username" placeholder="Username" class='form-control' required="" autofocus=""  > 
            
                <label for='password' class='login-form'> Please enter your password</label>
                <input type="password" name="password" placeholder="Password" class='form-control' required="" autofocus="" >
        
        <br>
        <div class='login-buttons'>
            <button class="btn btn-lg btn-primary btn-block">Login</button>
            <a href="{% url 'users:register' %}" class="btn btn-lg  btn btn-success btn-block">Create New Account</a>
        </div>
    </form>
</div>
{% endblock content %}