{% extends "users/home_page.html" %}
{% load static %}
{% block content %}


<h1>Create a new account!</h1>
<div class = 'wrapper-reg'>
    {% if user_registered %}
    <p1>Registered</p1>
    {% endif %}
    <form method='post' enctype="multipart/form-data">
        {% csrf_token %}


        <div class="row justify-content-center" id="post-wrapper">
            <table border="1" class="table table-striped table-bordered table-hover">
                {{user_form.as_table}}
                {{profile_form.as_table}}
            </table>
        </div>
        
        <button class="btn btn-lg btn-primary btn-block">Create</button>
        <a  class = 'return' href="{% url 'users:login'  %}"><i class="fa fa-arrow-left"></i> Go Back</a>
    </form>
</div>
{% endblock content %}