{% extends "users/home_page.html" %}
{% load static %}



{% block content %}
    <div class="container align-middle">
    {% if users_list %}
        <h1>Send a friend request</h1>
        <div class="list-group align-middle" >
        {% for User in users_list%}
            <a class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true" 
            href="{% url 'users:send_friend_request' User_id=User.user.id%}"> {{User.displayName}}</a>
        {% endfor %}
        </div>
    {% else %}
        <p> No other users.</p>
    {% endif %}
    <a class='return' href="{% url 'users:user_home_page' %}"><i class="fa fa-arrow-left"></i> Go Back</a>
        </div>
{% endblock content %}

