{% extends "users/home_page.html" %}
{% load static %}



{% block content %}
    <div class="container align-middle">
    {% if users_list %}
        <h1 style="font-family: Dancing Script; font-size: 5rem;">Send a friend request</h1>
        <div class="table table-striped table-bordered table-hover  align-middle" >
        {% for User in users_list%}


            <a class="list-group-item list-group-item-action  list-group-item-dark d-flex gap-3 py-3" aria-current="true"  style="background-color: #e5d9e6e8;"
                href="{% url 'users:send_friend_request' User_id=User.user.id%}"> <img src="{{ User.profileImage.url }}" width='50px' height="50px" style="object-fit: cover; border-radius:50% ; "> {{User.displayName}}</a>


        {% endfor %}
        </div>
    {% else %}
    <br>
        <h1 class="display-3"> No other users.</h1>
    {% endif %}
    <a class="btn btn-lg btn-primary btn-block" href="{% url 'users:user_home_page' %}"> Go Back</a>
        </div>
{% endblock content %}

