{% extends 'users/base.html' %} 
{% block content %}

<div class="container">
    {% if post_list %}
    <h1>List of posts from Team 03</h1>
    <div class="album py-5 bg-light">
        
        {% for post in post_list %}
        <h3> {{post.title}}</h3>
        <p>{{post.content}}</p>
        <p>Created by: {{post.author.displayName}}</p>
        <p>Date published: {{post.published}}</p>
        
    </br>
        
        </object>

        {% endfor %}
    </div>
    </div>
        


    {% else %}
        <p> No posts </p>
    {% endif %}

  
{% endblock content %}