{% extends 'users/base.html' %} 
{% block content %}

<div class="container">
    {% if authors %}
    <h1>List of users from Team 03</h1>
    <div class="album py-5 bg-light">
        
        {% for user in authors %}
        <h3> {{user.displayName}}</h3>
        <img src="{{user.profileImage}}" alt="No image available"></img>
        <p>{{user.email}}</p>
        <p>{{user.github}}</p>
        
    </br>
        
        </object>

        {% endfor %}
    </div>
    </div>
        


    {% else %}
        <p> No authors </p>
    {% endif %}

  
{% endblock content %}