{% extends 'users/base.html' %} 
{% block content %}
{% load static %}

<div class="container">
    
    <h2>List of Foriegn Users </h2>
    <br>
    {% if authors %}
    <div class="list-users">
        {% for user in authors %}
        <ul class ='t15Users'>
            <li><h2> {{user.displayName}}</h2></li>
            <p>{{user.email}}</p>
            <img src='{{user.profileImage}}' style="width:100px;"> 
            <br>
        </ul>
        {% endfor %}
    {% endif %}
    </div>
    {% endblock content %}