{% extends 'users/base.html' %} 
{% block content %}
<div class="container">
    {% if recieved_requests %}
        <p> You have request(s) from others right now:</p>
        <div class="list-group">
        {% for requests in recieved_requests %}
            <li class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true"> Request from {{requests.actor.displayName}}
                <!--<a href="">Accept</a>
                <a href="">Reject</a>-->
                <a href="/authors/requests/accept-request/{{requests.actor.user.id}}">Accept</a>
                <a href="/authors/requests/deny-request/{{requests.actor.user.id}}">Reject</a>
            </li>
        {% endfor %}
        </div>
    {% else %}
        <p>You have no requests from others right now.</p>
    {% endif %}
    {% if sent_requests %}
        <p>You have pending requests to others right now:</p>
        <div class="list-group">
        {% for pending in sent_requests%}
            <a class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true" 
            href="/authors/{{pending.object.user.id}}/"> {{pending.object.displayName}}</a>
        {% endfor %}
        </div>
    {% else %}
        <p> You have no pending friend requests to others right now.</p>
    {% endif %}
    </div>
{% endblock content %}

