{% extends 'users/base.html' %} 
{% block content %}
<div class="container">
<h1> {{user.displayName}} Followers List </h1>
{% if followers_list %}
    <h4>{{user.displayName}} is being followed by: </h4>
    <div class="list-group">
        {% for follower in followers_list %}
            <!--<a class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true" 
            href=""> {{follower.actor.displayName}}</a>-->

            <a class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true" 
            href="{% url 'users:placeholder' User_id=follower.actor.user.id%}"> {{follower.actor.displayName}}</a>
            
                <!--<img class="rounded-circle flex-shrink-0" width="32" height="32"src='/media/images/users/user_1/background_4E81jiR.gif' alt="https://github.com/twbs.png">-->
            

            <!--TODO: GET USER PROFILE IMAGE TO DISPLAY BESIDE THEIR USERNAME-->
        {% endfor %}
    </div>
{% else %}
    <p> {{user.displayName}}  has no followers :( </p>
{% endif %}
<a class='return' href="{% url 'users:user_home_page' %}"><i class="fa fa-arrow-left"></i> Go Back</a>
</div>
{% endblock content %}
