{% extends 'posts/base.html' %}
{%block title%}add comment {%endblock%}



{% block content %}

<h1>Add new comment</h1>
<p>How do you think about it?</p>
<form method="POST" action = "https://unhindled.herokuapp.com/author/5d49492e-ea28-4e04-9cd6-acc2bb5dc33f/posts/c95c11b5-01c3-44d4-a357-57e62a34bb5f">
    
    {% csrf_token %}
    <div class="row justify-content-center" id="post-wrapper">
        <table border="1" class="table table-striped table-bordered table-hover">
            {{form.as_table}}
        </table>
    
        <button type="submit">Add Comment</button>
    </div>
</form>


{% endblock content %}