{% extends 'posts/base.html' %}



{% block content %}
    {% if user.is_authenticated %}
        <h1 class ='post-header'>Add New Post</h1>
        <p>What's on your mind?</p>
        <div class= 'post-wrapper'>
        
            <form method="POST"  enctype = 'multipart/form-data'>
                {% csrf_token %}
                {{form}}
                <input type="submit" value="submit" class="btn btn-lg btn-primary btn-block">
            </form>

        {% else %}
            <h1>Permission Denied</h1>

        {% endif %}
        <a class='return' href="{% url 'users:user_home_page'  %} ">Go Back</a>
    </div>
{% endblock content %}
