{% extends 'posts/base.html' %}
{% load static %}
{% load crispy_forms_tags %}}



{% block content %}
<h1 class="post-header">Edit Post</h1>

<div id= 'post-wrapper'>
    <form method="POST" enctype = 'multipart/form-data'>
        {% csrf_token %}
        <table border="1" class="table table-striped table-bordered table-hover">
            {{form.as_table}}
        </table>
        <button class="btn btn-primary">Update</button>
        {% if post %}
            <a href="{% url 'deletepost' post.pk %}" class="btn btn-danger">Delete Post</a>
        {% endif %}
        
    </form>
    <a  class = 'return' href="{% url 'feed'  %}"><i class="fa fa-arrow-left"></i> Go Back</a>
</div>




{% endblock content %}