{% extends 'posts/base.html' %}
{% load static %}
{% load crispy_forms_tags %}}



{% block content %}
<h1 class="post-header" style="font-family: Dancing Script; font-size: 5rem;">Edit Post</h1>


    <form method="POST" enctype = 'multipart/form-data'>
        {% csrf_token %}
        <table border="1" class="table  table-bordered table-hover" style="width: 40%; border: 0.8px solid; margin-left: 30%; border-color: ; ">
            {{form.as_table}}
        </table>
        <button class="btn btn-primary">Update</button>
        {% if post %}
            <a href="{% url 'deletepost' post.pk %}" class="btn btn-danger">Delete Post</a>
        {% endif %}
        
    </form>
    <a  class = 'return' href="{% url 'feed'  %}"><i class="fa fa-arrow-left"></i> Go Back</a>





{% endblock content %}