{% extends 'posts/base.html' %}



{% block content %}
<h1 class="post-header">Edit Post</h1>

<div class= 'post-wrapper'>
    <form method="POST" enctype = 'multipart/form-data'>
        {% csrf_token %}
        {{form.as_p}}
        <button class="btn btn-primary">Update</button>
        {% if post %}
            <a href="{% url 'deletepost' post.pk %}" class="btn btn-danger">Delete Post</a>
        {% endif %}
        
    </form>
    <a  class = 'return' href="{% url 'feed'  %}"><i class="fa fa-arrow-left"></i> Go Back</a>
</div>




{% endblock content %}