{% extends 'posts/base.html' %}

{% block content %}
{% load markdown_ext %}
<div class='post-wrapper'>
    <h1><img src="{{ post.author.user_profile.profileImage.url }}" width=50px height="50"> {{post.author}}</h1>
        {%if post.contentType == 1 %}
            <p>{{ post.text | markdown | safe }}
        {%else%}
            <p>{{ post.text }}
        {% endif %}

        {%if post.image_link%}
            <a href='{{post.image_link}}'>preview</a>
        {% endif %}
    </p>

    {%if user_name == post.author.username or post.privacy == 0%}
        {% if post.image %}
            <img src='{{post.image.url}}' width="30%">
        {% endif %}
    {%elif post.privacy == 2%}
        {%for f in followers%}
            {%if f.actor.displayName == post.author.user_profile.displayName%}
                {% if post.image %}
                    <img src='{{post.image.url}}' width="30%">
                {% endif %}
            {%endif%}
        {%endfor%}
    {%endif%}

    <p>Date: {{post.pub_date}} 
        {%if post.privacy == 0%}
            <i class="fa fa-globe"></i>
        {%elif post.privacy == 1%}
            <i class="fa fa-user"></i>
        {%else%}
            <i class="fa fa-users"></i>
        {%endif%}
    </p>
    <p>ID: {{post.id}}</p>

    
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% if user_name == post.author.username and not post.shared_user %}
        <a href="{% url 'editpost' post.pk %} " class="btn btn-primary"><i class="fa fa-pencil-square-o"></i> Edit</a>
        <a href="{% url 'deletepost' post.pk %}" class="btn btn-danger"><i class="fa fa-trash"></i> Delete</a>
    {%elif user_name == post.shared_user.username%}
         <a href="{% url 'deletepost' post.pk %}" class="btn btn-danger"><i class="fa fa-trash"></i> Delete</a>   
    {% endif %}
    <a href="{% url 'addcomment' post.pk %}" class="btn btn-danger"><i class="fa fa-comment"></i> Comment</a>
    <a href="{% url 'sharepost' post.pk %}" class="btn btn-danger"><i class="fa fa-share-square-o"></i> Share</a>
    <br>
    <form action = "{% url 'likepost' post.pk %}" method = "POST" class="likeButton">
        {% csrf_token %}
        <button type = 'submit', name = 'post_id', value = "{{ post.id }}"><i class="far fa-thumbs-up"></i></button>
    </form>
    <p id = 'total_likes'>Number of Likes - {{ post.like.count }}</p>
    
    <a class='return' href="{% url 'feed'  %}">Go Back</a>
</div>
<br><hr class="mt-2 mb-3"/><br>
<h2>Leave a comment</h2>
<p>Total number of comments : {{post.comments.count}}</p>
<h2>Comments</h2>

{%if not post.comments.all %}
No comment yet <br>

{%else%}
<p>
    {%for comment in post.comments.all%}

    <br>
    <strong>
        <img src="{{ user.user_profile.profileImage.url }}" width=30px' height="30"> {{user.user_profile.displayName}} &nbsp; &nbsp;&nbsp; {{comment.comment_created}}
        <form action = "{% url 'likecomment' post.pk %}" method = "POST" class="likeButton">
            {% csrf_token %}
            <button type = 'submit', name = 'comment_id', value = "{{ comment.id }}"><i class="far fa-thumbs-up"></i></button>
        </form>
        <p>Number of Likes - {{ comment.like.count }}</p>
    </strong>
    {{comment.comment_body}}



    <br>
    <br>
    {% endfor %}

</p>

{% endif %}
<br><hr class="mt-2 mb-3"/><br>
<h2>Shares</h2>
{%if not post.shared_user.all %}
    Not shared yet <br>
{%else%}
    {%for user in post.shared_user.all%}
        <p>{{user}}</p>
    {% endfor %}
{% endif %}
<br><br>


<script>
   
</script>
{% endblock content %}

