{% extends 'posts/base.html' %}

{% block content %}

<div class = 'post-wrapper'>
    <h1>Author: {{post.author}}</h1>
    <p>Text: {{post.text}}</p>
    {% if post.image %}
        <img src='{{post.image.url}}' width="30%">
    {% endif %}
    <p>Date: {{post.pub_date}}</p>
    <p>ID: {{post.id}}</p>

    <a href="{% url 'editpost' post.pk %} " class="btn btn-primary" >Edit Post</a>
    <a href="{% url 'deletepost' post.pk %}" class="btn btn-danger">Delete Post</a>
    <a  class = 'return' href="{% url 'post'  %}">Go Back</a>
</div>
{% endblock content %}