{% extends 'users/base.html' %} 
{% block content %}
{% load static %}

<div class="container">
    
    <h1><a href=''>UNHINDLED APP</a></h1>
    <a href = "{% url 'users:external_users'%}">List of users (Group 15)</a>
    <h2>List of Posts from Other Teams</h2>
    <br>
    {% if posts %}
        <div class="list-posts">
            {% for post in posts %}
                {% for p in post%}
                    <h2 class = 'post-title'>{{p.title}}</h2>
                    <p>{{p.content}}</p>
                    <p>Created by {{p.author.displayName}}</p>
                    <p>{{p.created_on}}</p>
                    {% for id in post_ids%}
                        <a href="{% url 'foreign-comment' id %}" class="btn btn-danger"><i class="fa fa-comment"></i> Comment</a>
                        <a href="{% url 'sharepost' id %}" class="btn btn-danger"><i class="fa fa-share-square-o"></i> Share</a>
                        <br>
                        <form action = "{% url 'likepost' id %}" method = "POST" class="likeButton">
                            {% csrf_token %}
                            <button type = 'submit', name = 'post_id', value = "{{ id }}"><i class="far fa-thumbs-up"></i></button>
                        </form>
                    {% endfor %}
                {% endfor %}
            {% endfor %}
    {% endif %}
</div>
{% endblock content %}