{% extends 'users/base.html' %} 
{% block content %}
{% load static %}

<div class="container">
    
    <h1><a href=''>UNHINDLED APP</a></h1>
    <a href = "{% url 'users:external_users'%}">List of users (Group 15)</a>
    <h2>List of Posts from Team 15</h2>
    <br>
    {% if posts %}
        <div class="list-posts">
            {% for post in posts %}
                <h2 class = 'post-title'>{{post.title}}</h2>
                <p>{{post.content}}</p>
                <p>Created by {{post.author.displayName}}</p>
                <p>{{post.created_on}}</p>
                <a href="{% url 'addcomment' post.id %}" class="btn btn-danger"><i class="fa fa-comment"></i> Comment</a>
                <a href="{% url 'sharepost' post.id %}" class="btn btn-danger"><i class="fa fa-share-square-o"></i> Share</a>
                 <br>
                 <form action = "{% url 'likepost' post.id %}" method = "POST" class="likeButton">
                    {% csrf_token %}
                    <button type = 'submit', name = "post.id", value = "{{ post.id }}"><i class="far fa-thumbs-up"></i></button>
                </form>          
                <br>
            {% endfor %}
    {% endif %}
</div>
{% endblock content %}